.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 35px 50px 50px 50px;
  }
  
  .mat-table {
    overflow: auto;
  }

  .order-new {
    background-color:rgb(209, 209, 209);
    font-weight: bold;
  }
  
  /* .mat-row {

  } */