<div class="example-container mat-elevation-z8">
    <mat-tab-group [dynamicHeight]="true">
            <mat-tab label="Orders">
                <mat-table #table [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef> Order ID </mat-header-cell>
                      <mat-cell *matCellDef="let order"> {{order.id}} </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="requestorId"> 
                      <mat-header-cell *matHeaderCellDef> Requestor</mat-header-cell>
                      <mat-cell *matCellDef="let order" > {{order.requestorName}} </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="totalPrice">
                      <mat-header-cell *matHeaderCellDef> Total price </mat-header-cell>
                      <mat-cell *matCellDef="let order"> ${{order.totalPrice}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="timeToEnd">
                      <mat-header-cell *matHeaderCellDef> Time to end </mat-header-cell>
                      <mat-cell *matCellDef="let order" >{{order.mustBeCompleted ? '-': ''}} {{ order.orderStatus != orderStatus.InProgress ?  '' : order.toEnd   | date:'MM:ss'}} </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="orderDate">
                      <mat-header-cell *matHeaderCellDef> Order date </mat-header-cell>
                      <mat-cell *matCellDef="let order"> {{order.orderDate | date: 'hh:mm:ss dd/MM'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let order"> {{order.orderStatus}} </mat-cell>
                      </ng-container>

                    <ng-container matColumnDef="details">
                        <mat-header-cell *matHeaderCellDef> Order details </mat-header-cell>
                        <mat-cell *matCellDef="let order"><button mat-button (click)="openOrderDetails(order)">Details</button></mat-cell>
                      </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="[row.isNew ? 'order-new': '']">{{row}</mat-row>
                </mat-table>
            </mat-tab>
            <mat-tab label="Statistics"></mat-tab>
    </mat-tab-group>
</div>