<h2 mat-dialog-title>Order Details</h2>
<mat-dialog-content>
    <mat-list class="product-list-container" role="list">
            <div *ngFor="let data of data.order.productOrders">
                <product [product]="data.product">
                        x{{data.amount}}
                </product>
            </div>
    </mat-list>
    <mat-form-field class="example-full-width">
        <input *ngIf="data.order.orderStatus == orderStatus.Pending" matInput placeholder="Time (in minutes)" [(ngModel)]="time">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>

  <button *ngIf="data.order.orderStatus == orderStatus.InProgress"mat-button [mat-dialog-close]="true" (click)="completeProgress()">Complete Order</button>
  <button *ngIf="data.order.orderStatus == orderStatus.Pending" mat-button [mat-dialog-close]="true" (click)="startProgress()">Start Cooking</button>
  <button *ngIf="data.order.orderStatus == orderStatus.Pending" mat-button [mat-dialog-close]="true" (click)="cancelProgress()">Cancel Order</button>
</mat-dialog-actions>