<div class="user-info">
    <span class="mat-display-1" >Hello, {{user.name}}</span>
</div>

<mat-accordion class="category-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Nearest places
        </mat-panel-title>
        <mat-panel-description>
          <!-- description -->
        </mat-panel-description>
      </mat-expansion-panel-header>

            <mat-list class="product-list-container" role="list" *ngIf="nearestPlaces && nearestPlaces.length">
                <mat-card class="mat-card-container" *ngFor="let place of nearestPlaces" (click)="getPlaceData(place)">
                        <mat-card-title>
                            <span class="mat-h2">{{place.name}}</span>
                        </mat-card-title>
                        <mat-card-subtitle>
                              {{place.address}}
                        </mat-card-subtitle>

                </mat-card>  
       </mat-list>   


    </mat-expansion-panel>
</mat-accordion>