<mat-card>
        <img mat-card-image src="https://cdn-starbucks.netdna-ssl.com/uploads/images/_framed/T8roeBHm-4500-3000.JPG" alt="Photo of a Shiba Inu">
            <mat-card-title>
                <span class="mat-h2">{{product.name}}</span>
            </mat-card-title>
            <mat-card-subtitle>
                  <p>{{product.description}}</p>
                  <h3 class="product-price">$ {{product.price}}</h3>
            </mat-card-subtitle>
            <mat-card-actions>
                    <ng-content></ng-content>
            </mat-card-actions>

    </mat-card>  