<h2 mat-dialog-title>Cart</h2>
<mat-dialog-content>
  <mat-tab-group class="demo-tab-group">
    <mat-tab *ngFor="let ordersByPlace of orders" [label]="ordersByPlace.placeName">

      <div *ngIf="ordersByPlace.activeOrder">
        <mat-card>
          <mat-card-title>
            <span class="mat-h2">Active Order</span>
          </mat-card-title>
          <mat-card-subtitle>
            <h3 class="product-price">Total Price: {{ordersByPlace.activeOrder.totalPrice}} $</h3>
          </mat-card-subtitle>
          <mat-card-content>
            <mat-list class="product-list-container" role="list">
              <div *ngFor="let data of ordersByPlace.activeOrder.orderData">
                <product [product]="data.product">
                  <mat-form-field>
                    <input matInput placeholder="Amount" min="1" max="99" [value]="data.amount" (input)="changeAmount(ordersByPlace.placeId, data.product, $event.target.value)"
                      type="number">
                  </mat-form-field>
                  <button mat-raised-button color="warn" (click)="removeFromCart(ordersByPlace, ordersByPlace.activeOrder, data.product)">Remove</button>
                </product>
              </div>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="confirmCartOrder(ordersByPlace.activeOrder.id, ordersByPlace.placeId)">Confirm</button>
            <button mat-raised-button color="warn" (click)="cancelCartOrder(ordersByPlace.activeOrder.id)">Cancel</button>
            <button mat-button [mat-dialog-close]="true">Close</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <mat-accordion *ngFor="let orderItem of ordersByPlace.orders"  >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Order #{{orderItem.id}}
            </mat-panel-title>
            <mat-panel-description>
              Total Price: {{orderItem.totalPrice}} $ | Status : {{orderItem.orderStatus}} | {{orderItem.completionDate | date: 'hh:MM'}}

            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list class="product-list-container" role="list">
            <div *ngFor="let data of orderItem.orderData">
              <product [product]="data.product">
                  <strong>Amount: {{data.amount}}</strong>
              </product>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
