.product-list-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5em;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
}

product button[mat-raised-button]{
  width: 100%;
}
