<div class="relative-container">
	<button class="place-map-button" mat-fab (click)="changeMapPositionToPlace(place)">
		<mat-icon aria-label="User">place</mat-icon>
	</button>
	<div class="place-info">
		<span class="mat-display-1" *ngIf="place">{{place.name}}</span>
	</div>

	<mat-accordion class="category-accordion" *ngIf="place">
		<mat-expansion-panel *ngFor="let category of place.categories">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{category.name}}
				</mat-panel-title>
				<mat-panel-description>
					<!-- description -->
				</mat-panel-description>
		</mat-expansion-panel-header>

		<mat-list class="product-list-container" role="list">
			<div *ngFor="let product of category.products">
				<product [product]="product">
						<button mat-button color="primary" (click)="addToCart(product)">Add to card</button>
				</product>
			</div>
		</mat-list>   

		</mat-expansion-panel>
	</mat-accordion>
</div>