.product-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
}

.place-info {
    padding: 0.5em;
}

.relative-container {
    position: relative;
}

.place-map-button {
    position: absolute;
    right: 10px;
    top: -20px;
}