.block-map {
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../assets/MapLviv.png");
}

@media (max-width: 600px) {
    .block-map {
        height: calc(100vh - 56px);
    }
}

.block-content {
    width: 25%;
}

.block-content>* {
    width: 100%;
}