<background-blured-map>
    <mat-card>
            <form>
        <mat-card-title>
            <span class="mat-display-1">Log in to Tream</span>
        </mat-card-title>
        <mat-card-subtitle>
            <mat-form-field>
                <input matInput placeholder="User Name" 
                       name="userName" 
                       [(ngModel)]="user.userName" 
                       required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" 
                       name="password" 
                       [(ngModel)]="user.password" 
                       [type]="hide ? 'password' : 'text'" 
                       required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
        </mat-card-subtitle>
        <button mat-raised-button type="submit" color="primary" (click)="login(user)">Sign in</button>
    </form>
    </mat-card>
</background-blured-map>