<background-blured-map>
    <mat-card>
        <mat-card-title>
            <span class="mat-display-1">Register in Tream</span>
        </mat-card-title>
        <mat-card-subtitle>
            <mat-form-field>
                <input matInput placeholder="E-mail" 
                       name="email" 
                       [(ngModel)]="user.email" 
                       [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput required
                    placeholder="Name" 
                    name="name" 
                    [(ngModel)]="user.name">
            </mat-form-field>

            <mat-form-field>
                <input matInput required
                    placeholder="Location" 
                    name="location" 
                    [(ngModel)]="user.location">
            </mat-form-field>

            <mat-form-field>
                <input matInput required 
                    placeholder="Phone"
                    name="phoneNumber" 
                    [(ngModel)]="user.phoneNumber">
            </mat-form-field>

            <mat-form-field>
                <input matInput 
                    placeholder="Password" 
                    name="password" 
                    [(ngModel)]="user.password" 
                    [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </mat-form-field>

            <mat-form-field>
                <input matInput 
                    placeholder="Confirm Password" 
                    name="passwordConfirmation" 
                    [(ngModel)]="user.passwordConfirmation" 
                    [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </mat-form-field>
            
        </mat-card-subtitle>
        <button mat-raised-button color="accent" (click)="register(user)">Sign up</button>
    </mat-card>
</background-blured-map>