agm-map {
    height: calc(100vh - 64px);
}

@media (max-width: 600px) {
    agm-map {
        height: calc(100vh - 56px);
    }
}

@media (max-width: 576px) {
    .map-sidenav {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .map-sidenav {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .map-sidenav {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .map-sidenav {
        width: 30%;
    } 
}

@media (min-width: 1200px) {
    .map-sidenav {
        width: 30%;
    }
}


.open-menu-button {
    position: fixed;
    top: 85px;
    left: 15px;
}

.open-place-button {
    position: fixed;
    top: 155px;
    left: 15px;
}

.open-orders-button {
    position: fixed;
    bottom: 105px;
    left: 15px;
}

.cart-button {
    position: fixed;
    bottom: 35px;
    left: 15px;
}

.cart-button i {
    display: flex;
    width: auto;
    text-align: center;
}