<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
        <div class="fill-area content flexbox-item-grow">
            <div class="flexbox-item-grow fill-area-content">
                <agm-map
                    [disableDefaultUI]="true"  
                    [zoom]="15"  
                    [latitude]="lattitude"  
                    [longitude]="longitude" 
                    [clickableIcons]="false"
                    [usePanning]="true"
                    (mapReady)="openMenuAfterMap()"
                    (centerChange)="centerChange($event)"> 
                
                    <agm-marker *ngFor="let place of places" 
                        [latitude]="place.geoLat"  
                        [longitude]="place.geoLong"
                        (markerClick)="getPlaceData(place)"> 
                    </agm-marker> 

                    <agm-marker
                    [latitude]="userLattitude"  
                    [longitude]="userLongitude"
                    [iconUrl]='iconUrl'> 
                </agm-marker> 
                </agm-map>
            </div>
        </div>

        <button class="open-menu-button" *ngIf="!isOpened || this.router.url !== '/map/user'" mat-fab (click)="routeToUserMenu()">
            <mat-icon aria-label="User">face</mat-icon>
        </button>

        <button class="open-place-button" *ngIf="!isOpened && this.router.url !== '/map/user'" mat-fab (click)="isOpened = true">
            <mat-icon aria-label="User">local_cafe</mat-icon>
        </button>

        <button class="open-orders-button" *ngIf="haveJob()" mat-fab (click)="router.navigate(['/orders'])">
            <mat-icon aria-label="User">work</mat-icon>
        </button>

        <button class="cart-button" mat-fab color="primary" (click)="openCart()">
                <mat-icon aria-label="User">shopping_cart</mat-icon>
        </button>

    </mat-sidenav-content>

    <mat-sidenav mode="side" [opened]="isOpened" position="end" class="map-sidenav">
            <button mat-icon-button (click)="isOpened = false">
                <mat-icon aria-label="Hide">arrow_forward</mat-icon>
            </button> 
        <router-outlet></router-outlet>
    </mat-sidenav>


    

</mat-sidenav-container>