<mat-toolbar color="primary">
    <span class="header-title" routerLink="">Tream</span>
    <span class="header-spacer"></span>
    <button mat-raised-button color="accent" *ngIf="isLogin" routerLink="/register">Register</button>
    <button mat-button *ngIf="isLogin" routerLink="/login">Sign in</button>
    <button mat-icon-button *ngIf="!isLogin">
            <mat-icon aria-label="User">face</mat-icon>
          </button>
    <button mat-icon-button *ngIf="!isLogin" (click)="logout()">
                <mat-icon aria-label="User">arrow_forward</mat-icon>
              </button>
</mat-toolbar>